.container {
	margin: 0;
	padding-top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.b {
	margin-top: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	justify-content: flex-start;

	& > div {
		border-radius: var(--round-medium);
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		background: var(--depth1);
		padding: 1rem;
		width: 10rem;

		& > * {
			width: 100%;
		}

		& div {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}
}

.fill {
	width: 100%;
}

.h1 {
	text-align: center;
}

.input,
.button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: #0f0f0f;
	background-color: #ffffff;
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.li {
	color: #0f0f0f;
	background-color: #ffffff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
}

.button {
	cursor: pointer;
}
