.category {
	h1 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #a0a0a0;
		margin: 0.4em;
		font-size: 0.7em;
		font-weight: bold;
	}
}
.channel {
	button {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 2em;
		color: #ffffff;
		width: 100%;
		margin: 0.3em;
		svg {
			padding: 0.3em;
			fill: var(--disabled-text);
			height: 100%;
		}
	}
}
.icon {
	aspect-ratio: 1/1;
	height: 100%;
	background-color: var(--depth2);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;
}
