.category {
	h1 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #a0a0a0;
		margin: 0.4em;
		font-size: 0.7em;
		font-weight: bold;
	}
}

.channel {
	button {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 2em;
		color: #ffffff;
		width: 100%;
		margin: 0.3em;
		background: linear-gradient(to right, var(--depth1) 33%, transparent 55%, transparent 55%);
		background-size: 300% 100%;
		background-position: right bottom;
		transition: all 0.5s ease-in-out;

		border-radius: var(--round-xlarge);
		svg {
			padding: 0.3em;
			fill: var(--disabled-text);
			height: 100%;
		}
	}
	&:hover {
		button {
			background-position: left bottom;
		}
	}
}
.icon {
	aspect-ratio: 1/1;
	height: 100%;
	background-color: var(--depth2);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;
}
