.guildList {
	background-color: var(--depth2);
	display: flex;
	width: 5rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	ul {
		width: 100%;
		position: relative;

	}
	.divider {
		width: 80%;
		background-color: var(--depth4);
		margin: 0 auto;
		margin-top: 0.4em;
		margin-bottom: 0.4em;
		height: 2px;
	}
}
