.chat {
	background-color: var(--chat-bgc);

	overflow-y: scroll;
	height: 100%;
	padding-bottom: 3em;
}
.message {
	width: 90%;
	display: flex;
	padding: 0 1em;
	padding-bottom: 0;

	margin-top: 1em;

	/* * {
		border: red solid 1px;
	} */
	> button {
		flex-shrink: 0;
		width: 3em;
		height: 3em;
		img {
			height: 100%;
			width: 100%;
			aspect-ratio: 1/1;
			border-radius: 100%;
		}
	}
	.messageInner {
		width: 100%;
		padding-right: 0.25em;
		padding-top: 0.5em;
		padding-bottom: 0;
		padding-left: 0.5em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		/* i dont know why this works */
		.wrapper {
			height: 15%;

			.attachments {
				display: flex;
				flex-shrink: 1;
				align-items: flex-end;
				width: 100%;
				overflow-x: auto;
				scrollbar-gutter: stable;

				.image {
					padding: 0.2em;
					flex-shrink: 0;
					min-height: 6em;
					max-height: 95%;
					width: fit-content;
					height: fit-content;
					img {
						max-height: 20em;
						height: 100%;
						object-fit: scale-down;
						border-radius: 12px;
					}
				}
			}
		}
		.details {
			display: flex;
			align-items: flex-end;

			gap: 0.5em;
			button {
				font-size: 1.2em;
				line-height: 1em;
			}
			time {
				font-size: 0.6em;
				line-height: 1em;
			}
		}

		strong {
			font-weight: 900;
		}
		em {
			font-style: italic;
		}
		u {
			text-decoration: underline;
		}
		s {
			text-decoration: line-through;
		}
		code {
			background-color: black;
		}
		.block {
			padding: 0.2em;
			margin: 0.2em;
		}
		h4 {
			font-size: 2em;
			font-weight: 900;
		}
		h5 {
			font-weight: 900;
			font-size: 1.6em;
		}
		h6 {
			font-weight: 900;
			font-size: 1.3em;
		}
		a {
			color: aqua;
		}
		q {
			background-color: rgb(95, 95, 62);
			&::before {
				content: none;
			}
			&::after {
				content: none;
			}
		}
		.list {
			position: relative;
			padding-left: 1ch;
			&::before {
				content: '';
				position: absolute;
				background-color: white;
				width: 0.4em;
				height: 0.4em;
				left: 0;
				top: 0;
				translate: 0 110%;
				border-radius: 100%;
			}
		}
		.indentedList {
			position: relative;
			padding-left: 2ch;
			&::before {
				content: '';
				position: absolute;
				width: 0.4em;
				height: 0.4em;
				left: 0;
				top: 0;
				translate: 1ch 110%;
				border-radius: 100%;
				border: 1px white solid;
			}
		}
	}
}
/* something is broken dunno what ill fix later */
.same {
	margin-top: 0;
	padding: 0;
	& > button {
		display: none;
		img {
		}
	}
	.messageInner {
		height: 100%;
		padding: 0;
		margin-left: 4.5em;
		.details {
			display: none;
			button {
			}
			time {
			}
		}
		p {
			padding: 0;
		}
	}
}
