.chat {
	background-color: var(--chat-bgc);

	overflow-y: scroll;
	height: 100%;
	padding-bottom: 3em;
}
.message {
	width: 90%;
	display: flex;
	padding: 0 1em;
	padding-bottom: 0;

	margin-top: 1em;

	/* * {
		border: red solid 1px;
	} */
	> button {
		flex-shrink: 0;
		width: 3em;
		height: 3em;
		img {
			height: 100%;
			width: 100%;
			aspect-ratio: 1/1;
			border-radius: 100%;
		}
	}
	.messageInner {
		width: 100%;
		padding-right: 0.25em;
		padding-top: 0.5em;
		padding-bottom: 0;
		padding-left: 0.5em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		/* i dont know why this works */
		.wrapper {
			.attachments {
				display: flex;
				flex-shrink: 1;
				align-items: flex-end;
				width: 100%;
				overflow-x: auto;
				scrollbar-gutter: stable;
				margin-bottom: 0.25em;

				.image {
					position: relative;
					padding: 0.2em;
					flex-shrink: 0;
					min-height: 6em;
					max-height: 95%;
					width: fit-content;
					height: fit-content;
					img {
						max-height: 20em;
						height: 100%;
						object-fit: scale-down;
						border-radius: 12px;
					}
					&:hover {
						.download {
							opacity: 100;
						}
					}
				}

				.video {
					position: relative;
					padding: 0.2em;
					flex-shrink: 0;
					min-height: 6em;

					width: fit-content;
					height: fit-content;
					video {
						max-height: 20em;
						height: 100%;

						border-radius: 12px;
					}
					&:hover {
						.download {
							opacity: 100;
						}
					}
				}
			}
		}
		.audios {
			max-width: 100em;
			li {
				padding: 1em;
				background-color: var(--depth2);
				border-radius: 12px;
				border: var(--depth1) 1px solid;
				width: 50%;
				display: flex;
				flex-direction: column;
				position: relative;

				margin-bottom: 0.25em;

				span {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
				}
				audio {
					width: 100%;
					height: 2em;
					&::-webkit-media-controls-panel {
					}
					&::-webkit-media-controls-mute-button {
					}
					&::-webkit-media-controls-play-button {
					}
					&::-webkit-media-controls-timeline-container {
					}
					&::-webkit-media-controls-current-time-display {
					}
					&::-webkit-media-controls-time-remaining-display {
					}
					&::-webkit-media-controls-timeline {
					}
					&::-webkit-media-controls-volume-slider-container {
					}
					&::-webkit-media-controls-volume-slider {
					}
					&::-webkit-media-controls-seek-back-button {
					}
					&::-webkit-media-controls-seek-forward-button {
					}
					&::-webkit-media-controls-fullscreen-button {
					}
					&::-webkit-media-controls-rewind-button {
					}
					&::-webkit-media-controls-return-to-realtime-button {
					}
					&::-webkit-media-controls-toggle-closed-captions-button {
					}
				}
				&:hover {
					.download {
						opacity: 100;
					}
				}
			}
		}
		.download {
			height: 2em;
			width: 2em;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 12px;
			visibility: 0;
			opacity: 0;
			background-color: var(--depth2);
			position: absolute;
			top: 0;
			right: 0;
			transition: opacity 300ms ease-in-out;
		}

		.details {
			display: flex;
			align-items: flex-end;

			gap: 0.5em;
			button {
				font-size: 1.2em;
				line-height: 1em;
			}
			time {
				font-size: 0.6em;
				line-height: 1em;
			}
		}

		strong {
			font-weight: 900;
		}
		em {
			font-style: italic;
		}
		u {
			text-decoration: underline;
		}
		s {
			text-decoration: line-through;
		}
		code {
			background-color: black;
		}
		.block {
			padding: 0.2em;
			margin: 0.2em;
		}
		h4 {
			font-size: 2em;
			font-weight: 900;
		}
		h5 {
			font-weight: 900;
			font-size: 1.6em;
		}
		h6 {
			font-weight: 900;
			font-size: 1.3em;
		}
		a {
			color: aqua;
		}
		q {
			background-color: rgb(95, 95, 62);
			&::before {
				content: none;
			}
			&::after {
				content: none;
			}
		}
		.list {
			position: relative;
			padding-left: 1ch;
			&::before {
				content: '';
				position: absolute;
				background-color: white;
				width: 0.4em;
				height: 0.4em;
				left: 0;
				top: 0;
				translate: 0 110%;
				border-radius: 100%;
			}
		}
		.indentedList {
			position: relative;
			padding-left: 2ch;
			&::before {
				content: '';
				position: absolute;
				width: 0.4em;
				height: 0.4em;
				left: 0;
				top: 0;
				translate: 1ch 110%;
				border-radius: 100%;
				border: 1px white solid;
			}
		}
	}
}
/* something is broken dunno what ill fix later */
.same {
	margin-top: 0;
	padding: 0;
	& > button {
		display: none;
		img {
		}
	}
	.messageInner {
		height: 100%;
		padding: 0;
		margin-left: 4.5em;
		.details {
			display: none;
			button {
			}
			time {
			}
		}
		p {
			padding: 0;
		}
	}
}
