.message {
    display: grid;
    grid-template-columns: 4.6em 1fr;
    grid-template-rows: 1.2em 1fr;

    padding-top: 4px;
    padding-bottom: 4px;
}

time {
    font-size: 0.75em;
    text-align: center;
    color: var(--disabled-text);
    height: min-content;
}

/* Main massage user name and time */
.info {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.info .userName {
    font-weight: bold;
}

/* Left span of a message (profile picture or time) */
.left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    justify-self: center;
}

time.left {
    height: fit-content;
    visibility: hidden;
    align-self: center;
}

.profileImage.left {
    max-width: 2.6em;
    max-height: 2.6em;
    width: fit-content;
    height: fit-content;
}

.profileImage.left > img {
    border-radius: 100%;
}

/* Main content of a message */
.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
}

.text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    width: fit-content;
    height: fit-content;
}

.message:not(.same) .content .text {
    margin-top: 0.2em;
}

/* Message hover effect */
.message:hover {
    backdrop-filter: brightness(80%);
}

.message:hover time.left {
    visibility: visible;
}

/* Successor of a previous message (sent by the same person) */
.same {
    grid-template-rows: 1fr;
}

.botTag {
	color: purple;
}
