.tabs {
	height: 3em;
	max-width: 100%;
	overflow-x: scroll;

	ul {
		padding: 0 0.2em;
		display: flex;

		flex-wrap: nowrap;
		height: 100%;
	}
}

.tab {
	margin-right: 0.2em;
	margin-top: 0.39em;
	position: relative;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	background-color: var(--tab-bgc);

	height: 2.21em;
	border-radius: 6px 6px 0px 0px;
	padding: 0.3em 0.5em;

	a {
		display: inline-flex;
		margin-right: 0.5em;
		justify-content: center;
		align-items: center;
		gap: 0.5em;
		width: 100%;
		word-break: keep-all;
		white-space: nowrap;

		img {
			aspect-ratio: 1/1;
			max-height: 100%;
			height: 1.5em;
			border-radius: 16px;
		}
		span {
			color: var(--tab-text);
			text-align: center;
		}
	}
	button {
		text-align: center;
	}

	&:has(.active) {
		background-color: var(--tab-active-bgc);
	}
}

.welcomeTab {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	& > h1 {
		margin-top: 5rem;
		font-size: 3em;
	}
}
