.tabs {
	height: 3em;
	max-width: 100%;
	background-color: var(--tabs-bgc);
	border-top-left-radius: var(--round-large);
	transition: all 300ms;

	ul {
		transition: all 300ms;
		padding-top: 0.4em;
		height: 100%;
		padding-left: 0.5em;
		padding-right: 0.5em;
		width: 100%;
		display: flex;
		overflow-x: auto;
		scrollbar-gutter: stable;

		flex-wrap: nowrap;

		height: 100%;
	}
}

.tab {
	transition: all 300ms;
	margin-right: 0.2em;

	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	background-color: var(--tab-bgc);

	height: 100%;
	border-radius: 6px 6px 0px 0px;
	padding: 0.3em;

	> button:first-child {
		display: inline-flex;
		margin-right: 0.5em;
		justify-content: center;
		align-items: center;
		gap: 0.5em;
		width: 100%;
		word-break: keep-all;
		white-space: nowrap;

		img {
			aspect-ratio: 1/1;
			max-height: 100%;
			height: 1.5em;
			border-radius: 16px;
		}
		span {
			color: var(--tab-text);
			text-align: center;
		}
	}
	> button:last-child {
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			height: 100%;
			width: 100%;
		}
	}

	&:has(.active) {
		background-color: var(--tab-active-bgc);
	}
}

.welcomeTab {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	& > h1 {
		margin-top: 5rem;
		font-size: 3em;
	}
}
