.guild {
	width: 100%;
	display: flex;
	padding: 0.5em;
	position: relative;
	aspect-ratio: 1/1;

	height: fit-content;

	overflow: visible;

	cursor: pointer;

	& > img,
	& > h1 {
		transition: border-radius 300ms;

		border-radius: 50%;
		aspect-ratio: 1/1;
	}
	&:hover > img,
	&:hover > h1 {
		border-radius: 15%;
	}

	&::before {
		content: '';
		width: 0.2em;
		height: 1.5em;
		background-color: var(--guilds-before-bgc);
		opacity: 0;
		position: absolute;
		left: 0;

		align-self: center;

		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;

		transition:
			opacity 300ms,
			scale 300ms;
		scale: 0.3;
	}
	&:hover::before {
		opacity: 100;
		scale: 1;
	}
	& aside {
		position: fixed;
		transition:
			opacity 100ms,
			scale 300ms;

		translate: 0 -50%;

		background-color: var(--guilds-tooltip-bgc);
		padding: 0.5em;
		border-radius: 0.65em;
		height: fit-content;
		align-self: center;

		opacity: 0%;
		pointer-events: none;

		scale: 0 1;
		transform-origin: 0%;
		z-index: 1000;
	}
	&:hover aside {
		opacity: 100%;
		scale: 1;
	}
}

.fallbackText {
	width: 100%;
	height: 100%;

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	aspect-ratio: 1/1;
	line-height: 100%;
	background-color: var(--guilds-fallback-bgc);
}

.guildList {
	display: flex;
	width: 4.5em;
	height: 100%;
	background-color: var(--guilds-bgc);
	overflow-y: auto;
	overflow-x: hidden;
	ul {
		width: 100%;
		position: relative;
	}
	.divider {
		width: 80%;
		background-color: var(--guilds-divider-color);
		margin: 0 auto;
		margin-top: 0.4em;
		margin-bottom: 0.4em;
		height: 2px;
	}
}
