.guild {
	display: flex;
	width: fit-content;
	height: fit-content;
	background-color: var(--depth2);
}

.guild > img {
	aspect-ratio: 1/1;
	transition: all 300ms;
	border-radius: 50%;
}

.guild:hover > img {
	border-radius: 15%;
}

/* .guild > span {
	pointer-events: none;
	opacity: 0;
	position: absolute;
	padding: 0.5rem;
	border-radius: 12px;
	background-color: var(--depth4);
	left: 5rem;
	color: var(--text);
	width: 16ch;
	text-align: center;
	translate: -100%;
	transition: all 300ms;
} */

/* .guild:hover > span {
	opacity: 1;
	translate: 0;
} */
/* 
.before {
	position: absolute;
	content: '';
	width: 0rem;
	height: 0rem;
	display: block;
	translate: -1.1rem 0.65rem;
	background-color: var(--text);
	border-radius: 100px;

	transition: all 300ms ease-in-out;
} */

/* .guild:hover .before {
	width: 0.75rem;
	height: 2rem;
} */
