.guild {
	--size: 3.4rem;
	width: fit-content;
	height: fit-content;
	min-width: var(--size);
	display: flex;
	padding: calc(var(--size) / 6 + var(--size) / 8);
	padding-left: calc(var(--size) / 6);
	padding-bottom: calc(var(--size) / 6);
	padding-top: calc(var(--size) / 6);
}

.guild::before {
	background-color: var(--text);
	content: '';
	position: relative;
	width: calc(var(--size) / 8);
	border-top-right-radius: var(--size);
	border-bottom-right-radius: var(--size);
	left: -15%;
	transition: opacity 300ms, height 600ms, top 600ms;
	opacity: 0%;
	height: 0;
	top: calc(var(--size) / 2);
}

.guild:hover::before {
	transition: opacity 300ms, height 100ms, top 100ms;
	opacity: 100%;
	height: calc(var(--size) / 2);
	top: calc(var(--size) / 4);
}

.guild > img {
	transition: border-radius 300ms;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

.guild:hover > img {
	border-radius: 15%;
}
