.switch {
	font-size: 0.8em;
	position: relative;
	display: inline-block;
	width: 4em;
	height: 2.4em;
	border-radius: var(--switch-roundness);
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--switch-bgc);

	transition-duration: 300ms;
	border-radius: var(--switch-roundness);
	&:before {
		position: absolute;
		content: '';
		height: 1.8em;
		width: 1.8em;
		left: 0.3em;
		bottom: 0.3em;
		background-color: var(--switch-knob);

		transition-duration: 300ms;
		border-radius: var(--switch-roundness);
		
	}

}

input:hover + .slider,
input:hover + .slider {
	background-color: var(--switch-hover-bgc);
}

input:active + .slider,
input:checked + .slider {
	background-color: var(--switch-active-bgc);
}

input:active:hover + .slider,
input:checked:hover + .slider {
	background-color: var(--switch-active-hover-bgc);
}

input:active + .slider::before,
input:checked + .slider::before {
	translate: 1.6em 0;
}