.serverPanelInner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 1em;

	width: fit-content;
	height: 100%;
}
.serverButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	aspect-ratio: 1;
	width: 2em;
	height: 2em;
	gap: 0.5em;

	width: fit-content;
}
.serverButtons button {
	display: grid;
	place-items: center;

	font-size: 1em;
}
