.channel {
	button {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 2em;
		color: #ffffff;
		width: 100%;
		margin: 0.2em;
		svg {
			padding: 0.3em;
			fill: var(--disabled-text);
			height: 100%;
		}
	}
}
