.controlPanel {
	background-color: var(--control-panel-bgc);

	height: var(--control-panel-height);
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.25em;

	.userPanel,
	.contextPanelVoice,
	.mediaPanel {
		display: flex;
		flex-direction: row;
		align-items: center;

		height: 3em;
		width: fit-content;
	}
	.userPanel {
		gap: 0.25em;
		font-size: 0.75em;

		h2 {
			font-size: 1em;
			font-weight: 400;
			color: var(----tertiary);
		}
		img {
			border-radius: 100%;
			height: 3em;
			aspect-ratio: 1/1;
		}
	}
	.contextPanelVoice {
		justify-content: center;
		gap: 0.5em;
		.left,
		.right {
			display: flex;
			gap: 0.5em;
			background-color: var(--control-panel-bgc);
			z-index: 1;
			height: 3em;
		}
		.channel {
			white-space: nowrap;
			overflow-x: hidden;
			width: 200px;
		}

		/*TODO: text moving on hover */
		.channel:hover {
			position: relative;
			animation: marquee 5s linear infinite;
		}
	}
	.mediaPanel {
		justify-content: flex-end;
		gap: 0.5em;
	}
	@media (max-width: 380px) {
		.userPanel > div {
			display: none;
		}
	}
	@media (max-width: 490px) {
		.channel {
			display: none;
		}
	}

	@media (max-width: 570px) {
		.channel {
			white-space: nowrap;

			width: 100px !important;
		}
	}
}
@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
