.controlPanel {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 20% 40% 20%;
	grid-template-rows: 100%;
	column-gap: 10%;
	padding: 0.25em;
	background-color: var(--control-panel-bgc);
	@media (max-width: 430px) {
		display: flex;
		justify-content: space-between;
	}
}
.contextPanelVoice {
	border-radius: var(--control-panel-roundness);
	height: 100%;
	width: 100%;

	min-width: 200px;
	display: grid;
	transition: all 200ms ease-in-out;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 1fr;

	.left {
		grid-column: 1/2;
		display: flex;
		justify-content: space-evenly;

		align-items: center;
	}
	.channel {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		grid-column: 2/3;
		gap: 0.3em;
		span {
			line-height: 1em;
			text-align: center;
			font-size: 1em;
			color: var(--control-panel-text);
			width: 85%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		p {
			text-align: center;
			color: var(--control-panel-text-secondary);
			font-size: 0.8em;
			line-height: 1em;
			width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.right {
		grid-column: 3/4;
		display: flex;
		justify-content: space-evenly;

		align-items: center;
	}
	.left,
	.right,
	.channel {
		button {
			svg {
				width: 1.5em;
			}
		}
	}
	&:hover {
		background-color: var(--control-panel-hover-bgc);
	}
	@media (max-width: 570px) {
		.left,
		.right {
			height: 3em;
			display: grid;
			column-gap: 0;
			grid-template-rows: 1fr, 1fr;
			button {
				aspect-ratio: 1/1;
				height: 1.5em;
				svg {
					width: 1.5em;
					height: 1.5em;
				}
			}
		}
		.channel {
			span {
				width: 85%;
			}

			p {
				width: 90%;
			}
		}
	}
}
.mediaPanel {
	height: 100%;
	transition: all 200ms ease-in-out;
	width: 100%;
	border-radius: var(--control-panel-roundness);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 0.3em;
	&:hover {
		background-color: var(--control-panel-hover-bgc);
	}
	button {
		width: 1.5em;
		height: 1.5em;
		svg {
			width: 1.5em;
			height: 1.5em;
		}
	}

	@media (max-width: 570px) {
		display: grid;
		padding-left: 1em;
		padding-right: 1em;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.userPanel {
	display: flex;

	align-items: center;

	transition: all 200ms ease-in-out;
	border-radius: var(--control-panel-roundness);
	width: 100%;

	overflow: hidden;
	img {
		margin-left: 0.25em;
		display: block;
		width: 2.75em;

		border-radius: 100%;
		border: 2px solid var(--depth2);
	}
	.user {
		padding-left: 0.4em;
		height: 80%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: calc(100% - 3em);
		span {
			line-height: 1em;
			font-size: 1em;
			color: var(--control-panel-text);
			width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		h2 {
			color: var(--control-panel-text-secondary);

			font-size: 0.8em;
			line-height: 1em;
			width: 95%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		p {
			color: var(--control-panel-text-secondary);
			font-size: 0.8em;
			line-height: 1em;
			width: 97%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	&:hover {
		background-color: var(--control-panel-hover-bgc);
	}
	@media (max-width: 430px) {
		width: fit-content;
		flex-shrink: 0;
		padding-right: 0.4em;
		.user {
			display: none;
		}
	}
}
