.default {
	padding: var(--button-padding);
	background-color: var(--button-bgc);
	border-radius: var(--button-roundness);
}

.default:hover,
.default:focus-visible {
	background-color: var(--button-hover-bgc);
}

.default:active:hover,
.default:active:focus-visible {
	background-color: var(--button-active-hover-bgc);
}

.default:active {
	background-color: var(--button-active-bgc);
}
