.default {
	display: inline-block;
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	margin: 0;
	padding: 0;
	border-radius: 2px;
	background-color: var(--checkbox-bgc);
	vertical-align: middle;
	cursor: pointer;
}

.default:hover,
.default:focus-visible,
.default:active {
	background-color: var(--checkbox-hover-bgc);
}

.default:active:hover,
.default:active:focus-visible,
.default:checked:hover,
.default:checked:focus-visible {
	background-color: var(--checkbox-hover-bgc);
}

.default:checked {
	background-color: var(--checkbox-active-bgc);
	content: url(/ComponentSVGs/Checkmark.svg);
}
