.default {
	padding: var(--input-padding);
	background-color: var(--input-bgc);
	border-radius: var(--input-roundness);
}

.default::placeholder {
	color: var(--input-placeholder);
}
.colorPicker {
	width: 2em;
	height: 2em;
	padding: 0;
	border-radius: 100%;
	&::-webkit-color-swatch-wrapper {
		padding: 0.2em;
	}
	&::-webkit-color-swatch {
		border: none;
		border-radius: 100%;
	}
}
