.category {
	& > button {
		background: linear-gradient(to right, var(--depth1) 33%, transparent 55%, transparent 55%);
		background-size: 300% 100%;
		background-position: right bottom;
		border-radius: var(--round-xlarge);

		transition: background-position 300ms ease-in-out;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.25em 0.2em;

		width: 100%;
		span {
			text-align: left;
			vertical-align: middle;
			color: var(--channel-category-text);

			font-size: 0.9em;
			font-weight: 600;
			height: 100%;
			width: 85%;
			padding-left: 0.5em;
		}
		svg {
			transition: rotate 300ms;
			stroke: var(--channel-category-text);
			height: 100%;
			width: 14%;
		}
		&:hover {
			background-position: left bottom;
		}
	}
	ol {
		transition: height 300ms ease-in-out;
		height: 0px;
		overflow: hidden;
	}
	ol.expand {
		/* because you cant animate fit-content or auto height we need to calucate it, the formula is, (channel height+margin)*channelCount + margin    you only multiply one margin due to margin collapse*/
		height: calc(2.4em * var(--childCount) + 0.4em) !important;
		height: fit-content;
	}
}
.rotate {
	rotate: -180deg;
}
.channel {
	width: 100%;
	button {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 2em;
		color: #ffffff;
		width: 100%;
		margin: 0.4em 0;
		background: linear-gradient(to right, var(--depth1) 33%, transparent 55%, transparent 55%);
		background-size: 300% 100%;
		background-position: right bottom;
		transition: all 300ms ease-in-out;

		border-radius: var(--round-xlarge);

		/*cant be in % or ellipsis wont work*/
		span {
			padding-left: 0.5em;
			width: 18ch;
			white-space: nowrap;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&:hover {
		button {
			background-position: left bottom;
		}
	}
}
.channelIcon {
	aspect-ratio: 1/1;
	height: 100%;
	background-color: var(--depth2);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	vertical-align: middle;

	color: var(--channel-icon-color);
	svg {
		height: 100%;
		background-color: transparent;
		fill: transparent;

		padding: 0.2em;
		stroke: var(--channel-icon-color);

		height: 100%;
	}
}
.list {
	& > ol {
		padding: 0 0.5em;
	}
}
.title {
	margin-bottom: 1em;
	position: relative;
	button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.6em;
		background-color: var(--depth1);
		width: 100%;
		h1 {
			text-align: center;
			margin: 0 0 0em 0em;
			font-size: 1.3em;
		}
		svg {
			transition: rotate 300ms;
			height: 100%;
			width: 14%;
		}
	}

	ol {
		position: absolute;
		top: 2.5em;
		right: 1em;
		transition: height 300ms ease-in-out;
		height: calc(var(--elementCount) * 2em);
		overflow-y: hidden;
		z-index: 10;
		li {
			padding: 0;
			margin: 0;
			button {
				height: 2em;
				padding: 0.5em;
				margin: 0;
				border: 1px solid red;
			}
		}
	}
	.folded {
		height: 0px !important;
	}
}
