.logs {
	display: flex;
	flex-direction: column;
	width: 20em;
	height: 40em;
	background-color: var(--depth4);
	border-radius: var(--round-medium);
	margin-left: 1em;
	overflow-y: auto;
	scrollbar-gutter: stable;
	gap: 1em;
	padding: 0.5em;

	.time {
		font-weight: bold;
		color: var(--text2);
	}
	& > div {
		background-color: var(--depth5);
		word-wrap: break-word;
	}
}

.sendContainer {
	display: flex;
	flex-direction: column;
	textarea {
		outline: 1px solid var(--primary);
	}
	gap: 1em;
}
.controls {
	width: 100%;
	display: flex;
	flex-direction: row;
	button {
		height: 2em;
	}
}
