.container {
	width: fit-content;
	height: fit-content;
	background-color: var(--depth2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.6rem;
	width: min-content;
	border-radius: var(--round-large);
	box-shadow: var(--shadow);
}

.container > *:first-child {
	margin-bottom: 1rem;
}

.container > *:not(:first-child) {
	margin-top: 0.6rem;
}

.qrcode {
	border-radius: var(--round-large);
}

.header {
	white-space: nowrap;
	font-size: 1.2rem;
	font-weight: 600;
}

.paragraph {
	font-size: 0.9rem;
	text-align: center;
}
