.wrapper {
	width: 100vw;
	height: calc(100vh - var(--window-decoration-height));
	background-color: var(--depth0);
	display: flex;
	flex-direction: column;

	.outer {
		height: calc(100% - 3.5em);
		width: 100%;
		display: flex;

		.guilds {
			height: 100%;
			flex-shrink: 0;
			flex-grow: 0;
			width: 4.5em;
		}
		.channels {
			height: 100%;
			max-width: 80%;
			min-width: 10%;
			max-height: 100%;
			overflow-y: hidden;
		}
		.inner {
			height: 100%;
			width: 100%;
			display: flex;
			flex: 0 1 auto;

			flex-direction: column;

			max-width: 100%;

			.tabs {
				width: 100%;
			}
			.outlet {
				width: 100%;
				/* TODO: someone has to figure out why this stuff is always ignoring the top one */
				height: calc(100% - 3em);
				ol {
					border-bottom-left-radius: var(--chat-roundness);
				}
			}
		}

		.channels + .inner {
			background-color: var(--depth1);

			.outlet {
				ol {
					border-radius: 0;

					border-top-left-radius: var(--chat-roundness);
				}
			}
		}
	}
	.controlPanel {
		height: 3.5em;
		width: 100vw;
	}
}
