.wrapper {
	width: 100vw;
	height: calc(100vh - var(--window-decoration-height));
	background-color: var(--depth0);
	display: flex;
	flex-direction: column;

	.outer {
		height: calc(100% - 3.5em);
		width: 100%;
		display: flex;

		.guilds {
			height: 100%;
			flex-shrink: 0;
			flex-grow: 0;
			width: 4.5em;
		}
		.channels {
			height: 100%;
			max-width: 80%;
			min-width: 10%;
			max-height: 100%;
			overflow-y: hidden;
		}
		.inner {
			height: 100%;
			flex: 1 1 auto;
			display: flex;
			overflow: hidden;
			flex-direction: column;

			max-width: 100%;
			min-width: 10%;

			.tabs {
				width: 100%;
			}
			.outlet {
				height: 100%;
				width: 100%;
				overflow-y: scroll;
			}
		}
	}
	.controlPanel {
		height: 3.5em;
		width: 100vw;
	}
}
