.guildList {
	background-color: var(--depth1);
	height: 100%;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	left: 0;
}

.guildList > ul {
	position: static;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 100vh;
}

.guildList > ul::-webkit-scrollbar {
	width: 1px;
}
