.decoration {
	height: var(--window-decoration-height);
	width: 100%;

	background-color: var(--window-decoration-bgc);
	display: flex;

	position: relative;

	justify-content: space-between;
	padding: 0.25em;
	h1 {
		margin-left: 0.25em;
		font-size: 0.75em;
		pointer-events: none;
	}
	.buttons {
		z-index: 2;
		button {
			height: 100%;
			svg {
				height: 100%;
			}
		}
	}

	.dragRegion {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
