.decoration {
	height: var(--window-decoration-height);
	width: 100%;

	background-color: var(--window-decoration-bgc);
	display: flex;
	justify-content: space-between;
	border-radius: 8px 8px 0px 0px;
	h1 {
		margin-left: 0.5em;
		font-size: 1em;
		justify-self: flex-start;
	}
	div {
		button {
			height: 100%;
			svg {
				height: 100%;
			}
		}
	}
}
