/* TODO: clean duplicates and stuff, hard to do on small laptop screen */
.header {
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}
.bottomPart {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.loginButton {
	--padding: 0.5rem 2rem;
	font-size: 1.2rem;
}
.bottomPart {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& > * {
		font-size: 1.2rem;
		width: 24rem;
	}
	& > *:not(:last-child) {
		margin-bottom: 1.6rem;
	}
}

.MFABox {
	width: fit-content;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--MFA-bgc);
	border-radius: var(--MFA-roundness);
	padding: 1.6rem;
	filter: var(--drop-shadow);
	gap: 1.6em;
}

.loginBox {
	width: fit-content;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--login-bgc);
	border-radius: var(--login-roundness);
	padding: 1.6rem;
	filter: var(--drop-shadow);
	gap: 1.6rem;

	.rememberMe {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0.5em;

		& > p {
			font-size: 1.2rem;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.qrBox {
	width: min-content;
	min-width: calc(12rem + 1.6rem * 2);
	height: 20rem;
	background-color: var(--qr-bgc);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.6rem;
	border-radius: var(--qr-roundness);
	gap: 1em;
	filter: var(--drop-shadow);

	img {
		width: 10rem;
		height: 10rem;
		border-radius: var(--round-large);
	}
	h1 {
		white-space: nowrap;
		font-size: 1.2rem;
		font-weight: 600;
	}

	p {
		font-size: 0.9rem;
		text-align: center;
	}
}
