.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--depth2);
	border-radius: var(--round-large);
	padding: 1.6rem;
	box-shadow: var(--shadow);
}

.container > *:not(:last-child) {
	margin-bottom: 1.6rem;
}

.header {
	font-size: 3rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inputs > * {
	font-size: 1.2rem;
}

.inputs > *:not(:last-child) {
	margin-bottom: 1.6rem;
}

.bottomPart {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.rememberMe {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.rememberMe > *:not(:last-child) {
	margin-right: 0.5rem;
}

.rememberMe > p {
	font-size: 1.2rem;
}

.rememberMe:hover {
	cursor: pointer;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.loginButton {
	--default-padding: 0.5rem 2rem;
	font-size: 1.2rem;
}
