.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
}

.login {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.login > *:not(:last-child) {
	margin-right: 2rem;
}

.leftBottom,
.leftBottom1,
.leftBottom2,
.leftBottom3,
.leftTop1,
.leftTop2,
.rightTop1,
.rightTop2 {
	position: absolute;
}

.leftBottom {
	top: 64%;
	left: 0;
	width: 400px;
	height: 400px;
}

.leftBottom1 {
	z-index: 3;
	top: 55%;
	left: 0;
}

.leftBottom2 {
	z-index: 2;
	top: 25%;
	left: 0;
}

.leftBottom3 {
	z-index: 1;
	top: 0;
	left: 0;
}
