.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
}

.login {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.login > *:not(:last-child) {
	margin-right: 2rem;
}

.leftBottom,
.leftBottom1,
.leftBottom2,
.leftBottom3,
.leftTop1,
.leftTop,
.leftTop2,
.rightTop,
.rightTop1,
.rightTop2 {
	position: absolute;
}

.rightTop {
	width: 20rem;
	height: 20rem;
	top: 0;
	right: 0;
	z-index: -1;
}
.rightTop1 {
	z-index: 3;
	top: 0;
	right: 0;
}
.rightTop2 {
	z-index: 2;
	top: 0;
	right: 0;
}

.leftTop {
	width: 20rem;
	height: 20rem;
	top: 0;
	bottom: 0;
	z-index: -1;
}
.leftTop1 {
	z-index: 3;
	top: 0;
	left: 0;
}
.leftTop2 {
	z-index: 2;
	top: 0;
	left: 0;
}

.leftBottom {
	width: 20rem;
	height: 20rem;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.leftBottom1 {
	z-index: 3;
	bottom: 0;
	left: 0;
}

.leftBottom2 {
	z-index: 2;
	bottom: 0;
	left: 0;
}

.leftBottom3 {
	z-index: 1;
	bottom: 0;
	left: 0;
}
