@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
button {
	cursor: pointer;
}

ol,
ul,
menu {
	list-style: none;
}

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	-webkit-user-select: auto;
}

textarea {
	white-space: revert;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

pre {
	all: revert;
}

::placeholder {
	color: unset;
}

::marker {
	content: '';
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable='true']) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
}

/* ==========================================================================
   PANDACORD STYLES     |||||    ALL ABOVE IS NORMALIZATION
   ========================================================================== */

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background-color: hsl(205, 0%, 30%);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(205, 0%, 16%);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(205, 0%, 12%);
}

:root {
	/*FIGMA --depth1: #2a2c2a;
	--depth2: #323636;
	--depth3: #3a4042;
	--depth4: #434a4d; */

	/*PREVIOUS --depth1: #1f1f20;
	--depth2: #252628;
	--depth3: #2d2f31;
	--depth4: #343438; */

	--depth0: hsl(205, 0%, 8%);
	--depth1: hsl(205, 0%, 12%);
	--depth2: hsl(205, 0%, 20%);
	--depth3: hsl(205, 0%, 26%);
	--depth4: hsl(205, 0%, 32%);

	--primary: hsl(18, 86%, 50%);
	--secondary: hsl(205, 100%, 50%);
	--tertiary: hsl(161, 100%, 40%);
	--darken: brightness(93%);
	--darken-for-active: brightness(80%);

	--text: #ffffff;
	--disabled-text: #a0a0a0;

	--round-medium: 6px;
	--round-large: 12px;
	--round-xlarge: 24px;

	--default-padding: 0.5rem;
	/* TODO: Find a better font (numbers are looking kinda... funky. As well as all of the text that has a bigger weight than normal) */
	--default-font: 'Atkinson Hyperlegible', sans-serif;

	--drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));

	/* CHANNELS */
	--channel-category-text: #a0a0a0;
	--channel-icon-color: #bdbdbd;

	/* Control Panel */
	--control-panel-bgc: var(--depth1);
	--control-panel-hover-bgc: var(--depth2);
	--control-panel-text: var(--text);
	--control-panel-text-secondary: var(--disabled-text);
	--control-panel-roundness: 16px;
}

* {
	font-family: var(--default-font);
	color: var(--text);
}

*:focus-visible {
	outline-style: solid;
	outline-offset: 2px;
	outline-color: var(--primary);
	box-shadow: var(--depth1) 0px 0px 0px 2px;
	outline-width: 2px;
}

body {
	min-height: 100vh;
	width: 100%;
	height: 100%;
	background-color: var(--depth0);
}
.hidden {
	display: none !important;
}
/* TEMPORARY */

#root {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}
