@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
button {
	cursor: pointer;
}

ol,
ul,
menu {
	list-style: none;
}

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	-webkit-user-select: auto;
}

textarea {
	white-space: revert;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

pre {
	all: revert;
}

::placeholder {
	color: unset;
}

::marker {
	content: '';
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable='true']) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
}

/* ==========================================================================
   PANDACORD STYLES     |||||    ALL ABOVE IS NORMALIZATION
   ========================================================================== */

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background-color: hsl(205, 0%, 30%);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: hsl(205, 0%, 16%);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary);
}

:root {
	/*FIGMA --depth1: #2a2c2a;
	--depth2: #323636;
	--depth3: #3a4042;
	--depth4: #434a4d; */

	/*PREVIOUS --depth1: #1f1f20;
	--depth2: #252628;
	--depth3: #2d2f31;
	--depth4: #343438; */

	/* PREVIOUS PREV--depth0: hsl(205, 0%, 8%);
	--depth1: hsl(205, 0%, 12%);
	--depth2: hsl(205, 0%, 20%);
	--depth3: hsl(205, 0%, 26%);
	--depth4: hsl(205, 0%, 32%); */
	/* CSS HSL */
	--depth9: hsl(240, 3%, 35%);
	--depth8: hsl(240, 3%, 32%);
	--depth7: hsl(240, 3%, 29%);
	--depth6: hsl(240, 2%, 26%);
	--depth5: hsl(240, 3%, 23%);
	--depth4: hsl(240, 3%, 19%);
	--depth3: hsl(240, 4%, 16%);
	--depth2: hsl(240, 1%, 13%);
	--depth1: hsl(240, 2%, 10%);
	--depth0: hsl(240, 3%, 7%);

	--primary: hsl(18, 86%, 50%);
	--secondary: hsl(205, 100%, 50%);
	--tertiary: hsl(161, 100%, 40%);
	--darken: brightness(93%);
	--darken-for-active: brightness(80%);

	--text: #ffffff;
	--disabled-text: #a0a0a0;

	--round-medium: 6px;
	--round-large: 12px;
	--round-xlarge: 24px;

	--default-padding: 0.5em;
	/* TODO: Find a better font (numbers are looking kinda... funky. As well as all of the text that has a bigger weight than normal) */
	--default-font: 'Atkinson Hyperlegible', sans-serif;

	--drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
	/* WINDOW DECORATIONS */
	--window-decoration-height: 1.5em;
	--window-decoration-bgc: var(--depth0);

	/* LOGIN PANEL */
	--MFA-bgc: var(--depth2);
	--MFA-roundness: var(--round-large);
	--login-bgc: var(--depth2);
	--login-roundness: var(--round-large);
	--qr-bgc: var(--depth2);
	--qr-roundness: var(--round-large);
	--captcha-bgc: var(--depth2);
	--captcha-roundness: var(--round-large);

	/* GUILDS  */
	/* --guilds-scale:1rem;  doesnt work currently*/
	--guilds-bgc: var(--depth0);
	--guilds-fallback-bgc: var(--depth2);
	--guilds-divider-color: var(--depth3);
	--guilds-tooltip-bgc: var(--depth2);
	--guilds-before-bgc: var(--text);
	--guilds-width: 4.2em;

	/* CHANNELS */
	--channel-category-text: #a0a0a0;
	--channel-icon-color: #bdbdbd;
	--channel-icon-bgc: var(--depth3);
	--channel-category-roundness: var(--round-xlarge);
	--channel-category-hover-one: var(--depth2);
	--channel-category-hover-two: transparent;
	--channel-list-bgc: var(--depth1);
	--channel-text-color: var(--text);
	--channel-list-title-bgc: var(--depth1`);
	--channel-list-title-text: var(--text);
	--channel-list-title-icon: var(--disabled-text);
	--channel-gradient-hover-one: var(--depth2);
	--channel-gradient-hover-two: transparent;
	--channel-list-separator: var(--depth3);
	--channel-title-list-bgc: var(--depth0);
	--channel-title-list-roundness: var(--round-large);
	--channel-title-list-element-roundness: var(--round-xlarge);
	--channel-title-list-icon-bgc: var(--depth2);
	--channel-title-list-icon-color: var(--disabled-text);
	--channel-title-list-element-gradient-one: var(--depth1);
	--channel-title-list-element-gradient-two: transparent;
	--channel-list-roundness: var(--round-large); /* FRIENDS */
	--friend-list-bgc: var(--depth1);
	--friend-gradient-hover-one: var(--depth2);
	--friend-gradient-hover-two: transparent;
	--friend-status-color: var(--disabled-text);
	--friend-name-color: var(--text);
	--friend-list-separator: var(--depth3);

	/* CONTROL PANEL */
	--control-panel-bgc: var(--depth0);
	--control-panel-hover-bgc: var(--depth1);
	--control-panel-text: var(--text);
	--control-panel-text-secondary: var(--disabled-text);
	--control-panel-roundness: 16px;
	--control-panel-height: 3.5em;
	/* TABS */
	--tabs-bgc: var(--depth1);
	--tab-bgc: var(--depth2);
	--tab-text: var(--text);
	--tab-active-bgc: var(--primary);

	/* LIST */
	--list-bgc: var(--depth1);

	/* CHAT */
	--chat-bgc: var(--depth3);
	--chat-roundness: var(--round-large); /* Misc */
	--loading-bgc: var(--depth1);

	--switch-bgc: var(--depth2);
	--switch-active-bgc: var(--primary);
	--switch-knob: var(--text);
	--switch-roundness: 2.4em;

	--button-bgc: var(--depth3);
	--button-hover-bgc: var(--depth2);
	--button-active-bgc: var(--primary);
	--button-padding: var(--default-padding);
	--button-roundness: var(--round-medium);

	--checkbox-bgc: var(--depth3);
	--checkbox-hover-bgc: var(--depth2);
	--checkbox-active-bgc: var(--primary);

	--input-bgc: var(--depth3);
	--input-roundness: var(--round-medium);
	--input-padding: var(--default-padding);
	--input-placeholder: var(--disabled-text);
}

* {
	font-family: var(--default-font);
	color: var(--text);
}

*:focus-visible {
	outline-style: solid;
	outline-offset: 2px;
	outline-color: var(--primary);
	box-shadow: var(--depth1) 0px 0px 0px 2px;
	outline-width: 2px;
}

body {
	min-height: 100vh;
	width: 100%;
	height: 100vh;

	background-color: var(--depth0);
}

#root {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
strong {
	font-weight: 900;
}
em {
	font-style: italic;
}
u {
	text-decoration: underline;
}
s {
	text-decoration: line-through;
}
code {
	background-color: black;
}

/* TODO: Make scrollable if too wide */
.codeblock {
	padding: 0.2em;
	background-color: black;
}
h4 {
	font-size: 2em;
	font-weight: 900;
}
h5 {
	font-weight: 900;
	font-size: 1.6em;
}
h6 {
	font-weight: 900;
	font-size: 1.3em;
}
a {
	color: aqua;
}
q {
	background-color: rgb(95, 95, 62);
	&::before {
		content: none;
	}
	&::after {
		content: none;
	}
}
.mdSuggestion {
	color: red;
}
