.contexMenu {
	position: fixed;
	background: var(--depth3);
	padding: 0.5em;
	border-radius: var(--round-medium);
	transform-origin: top;
	animation: open 100ms;

	width: 10em;

	button {
	}
}

@keyframes open {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(100%);
	}
}
.contextMenuContainer {
	z-index: 900000;
	position: relative;
	overflow: visible;
}
