.wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
.background {
	content: '';
	width: 100vw;
	height: 100vh;
	background: linear-gradient(107.57deg, #f2003a 0%, rgba(0, 178, 255, 0.63) 100.02%);
}
.background::before {
	content: '';
	background-image: url('/LoginPage/BackgroundDoodle.png');
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.6;
}

.container {
	width: 100vw;
	height: 100vh;
	position: absolute;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* transition: all 0.5s ease; */
}

.hcaptchaContainer {
	background-color: var(--depth2);
	border-radius: var(--round-large);
}

.fromLeft {
	animation: fromLeft 0.5s ease;
}
.fromRight {
	animation: fromRight 0.5s ease;
}

.toLeft {
	visibility: hidden;
	transform: translateX(-150%);
	animation: toLeft 0.5s ease;
}
.toRight {
	visibility: hidden;
	transform: translateX(150%);
	animation: toRight 0.5s ease;
}

@keyframes toLeft {
	0% {
		visibility: visible;
		transform: translateX(0);
	}
	100% {
		transform: translateX(-150%);

		visibility: visible;
	}
}
@keyframes toRight {
	0% {
		visibility: visible;
		transform: translateX(0);
	}
	100% {
		transform: translateX(150%);
		visibility: visible;
	}
}

@keyframes fromLeft {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes fromRight {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0);
	}
}

.qrcode {
	z-index: 4;
	position: absolute;
	transform: translateX(150%);
}

.loginBox {
	z-index: 4;
	margin-right: 2rem;
}

.gradient {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: linear-gradient(107.57deg, #f2003a 0%, rgba(0, 178, 255, 0.63) 100.02%);
	opacity: 0.6;
}

.gradient > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

@media (max-width: 1099px) {
	.qrcode {
		position: inherit;
		transform: translateX(91%);
	}
	.loginBox {
		transform: translateX(-25%);
	}
}

/* Corner SVGs */

.leftBottom .leftTop .rightTop {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.leftBottom1,
.leftBottom2,
.leftBottom3,
.leftTop1,
.leftTop2,
.rightTop1,
.rightTop2 {
	filter: var(--drop-shadow);
	position: absolute;
	aspect-ratio: auto;
	user-select: none;
}

.rightTop {
	top: 0;
	right: 0;
	z-index: -1;
}

.rightTop1 {
	z-index: 2;
	top: 0;
	right: 0;
	width: 40%;
}

.rightTop2 {
	z-index: 1;
	top: 0;
	right: 0;
	width: 45%;
}

.leftTop {
	top: 0;
	bottom: 0;
	z-index: -1;
}
.leftTop1 {
	z-index: 2;
	top: 0;
	left: 0;
	width: 30%;
}
.leftTop2 {
	z-index: 1;
	top: 0;
	left: 0;
	width: 35%;
}

.leftBottom {
	left: 0;
	bottom: 0;
	z-index: -1;
}

.leftBottom1 {
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 18%;
}

.leftBottom2 {
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 24%;
}

.leftBottom3 {
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 30%;
}
